/* Header styling */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    width: 900px;
    height: 50px;
}

.links {
    display: flex;
    gap: 100px;
    font-size: 18px;
    font-weight: lighter;
    height: 40px;
    align-items: center;
}

.header {
    background-color: black;
    color: white;
    padding: 8px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.text {
    font-size: 38px;
    font-weight: bold;
    color: #F9FAF8;
    height: 293px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: lighter;
    width: 410px;
    flex-shrink: 1;
}

.head-img  {
    width: 400px;
    height: 300px;
    flex: 1 1 0;
}

.header-content {
    display: flex;
    width: 900px;
    height: 300px;
    
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

a:hover {
    font-weight: bold;
    color: #c00000;
}

/*Character information styling*/ 

h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.characters-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.characters-1, .characters-2 {
    display: flex;
    gap: 40px;
}

p {
    display: flex;
    justify-content: center;
    color: black;
    height: 40px;
}

p a {
    color: black;
    font-size: 20px;
}

div div div img {
    width: 170px;
    height: 170px;
}

.characters-1 img, .characters-2 img {
    border: solid black 3px;
    padding: 10px;
    border-radius: 200px;
}

.characters-2 .isidro img{
    border-radius: 300px;
}

/*Quote*/ 

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1b1b1b;
    color: #dcdee0;
    font-size: 36px;
    font-weight: lighter;
    height: 250px;
    margin-top: 50px;
}

.godot {
    display: flex;
    justify-content: end;
    margin-top: 18px;
    margin-left: 800px;
    font-size: 30px;
    font-weight: bold;
}

/*read berserk notification*/

.action {
    background-color: #f63838;
    color: white;
    display: flex;
    width: 700px;
    height: 80px;
    padding: 10px;
    gap: 15px ;
    border-radius: 6px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 200px;
}

.title {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.title {
    font-weight: bold;
    font-size: 20px;
    gap: 10px;
   padding-left: 60px
}

.discription {
    font-weight: normal;
    font-size: 15px;
}

button {
    margin: auto;
    margin-right: 100px;
    height: 40px;
    width: 100px;
    border: solid white;
    border-radius: 10px;
    background-color: #f63838;
    color: white;
}

button a:hover {
    color: white;
}

button a {         
    position: relative;    
    z-index: 1;     
    padding: 1em;     
    margin: -2em;     
}

/*Footer*/

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    z-index: 1;
}